body{
  background-color: grey;
  min-width: 800px;
}
.wrapper {
  margin: 20 80px;
  display: grid;
  grid-template-columns: 33% 33% 34%;
}

.spotify{
  grid-column-start: 1;
  grid-column-end: 3;
}

.lyrics{
  grid-column-start: 3;
  grid-column-end: 4;
}
