body{
  background-color: grey;
  min-width: 1000px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [wrapper-start] 1fr);
}

.spotify{
  grid-column: wrapper-start / span 8;
  display: grid;
  grid-template-columns: repeat(12, [spotify-start] 1fr);
}

.player_pic{
  float: left;
}

#profile_pic{
  text-align: center;
  grid-column: spotify-start 8 / span 3;
  grid-row: 1 / span 2;
}

#profile_pic_img{
  width : 100px;
  height : 100px;
}

#spotifyinfo{
  text-align: center;
  grid-column: spotify-start 7 / -1;
  grid-row: 3;
  background-color: green;
}

#info_table{
  text-align: center;
  font-size: 14px;
}

#playlist{
  text-align: left;
  grid-column: spotify-start  / span 5;
  grid-row: 1 / span 6;
  background-color: red;
  overflow: auto;
  overflow-wrap: break-word;
}

#songbox{
  grid-column: spotify-start 7 / -1;
  grid-row: 4 / span 2;
  display: grid;
  grid-template-columns: repeat(3, [songbox-start] 1fr);

}

#songimg{
  grid-column: songbox-start 1;
}

#songdetails{
  grid-column: songbox-start 2;
}

#songplayer{
  text-align: center;
  grid-column: spotify-start 7 / -1;
  grid-row: 6;

  background-color: lightgreen;
}

.lyrics{
  text-align: center;
  grid-column: wrapper-start 9 / -1 ;
  grid-row: 1 / 8;
  background-color: blue;
  overflow: auto;
  overflow-wrap: break-word;
}
