:root {
  --main-txt-color: hsl(228, 9%, 60%);
  --highlight-txt-color: hsl(228, 9%, 30%);
  --main-padding: 15px;

}

.section{
  margin : 0;
  padding : 0;
  font-family : DejaVu serif;
  font-size : 14px;
  color : var(--main-txt-color);
}

.sub-section{
  margin : 0;
  padding : 0;
  font-family : DejaVu serif;
  font-size : 14px;
  color : #ff8731;
}

.footer{
  text-align : center;
  margin : 0;
  padding : 0;
  font-family: Liberation sans-serif;
  font-size : 10px;
  color : var(--main-txt-color);
}

.project_text{
  font-size: 20px;
  color : var(--main-txt-color);
}

.project_cont{
  height: 20vh;
}


a{
   color : var(--highlight-txt-color);
}
